{% extends 'evs_index.html' %}
{% block title %}
<title>XU OSA - Tickets</title>
{% endblock title %}
{% block page_name %}
<h5><i class='bx bx-home-alt'></i>Tickets</h5>
{% endblock page_name %}
{% block content %}
<div class="content">
    <!-- TOOLBAR -->
    <div class="controls">
        <button for="sort"> Sort Ticket:</button>
        <select id="sort">
            <option value="Up">Ascending</option>
            <option value="Down">Descending</option>
        </select>
        <form action="{% url 'evs:ViolationTickets' %}" method="get" class="search-form">
            <input id="student_name" name="student_name" type="text" placeholder="Search Student Name" value="{{ request.GET.student_name|default:'' }}">
            <input id="student_id" name="student_id" type="text" placeholder="Search Student ID" value="{{ request.GET.student_id|default:'' }}">
            <button type="submit" id='dashboardSearch'>Search</button>
            {% if request.GET.student_name or request.GET.student_id %}
                <a href="{% url 'evs:ViolationTickets' %}"><button type="button">Clear</button></a>
            {% endif %}
        </form>
    </div>
    <!-- TABLE -->
    <table class="table" id="tickets">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Ticket #</th>
                <th>Violation Type</th>
                <th>Date/Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.student.first_name }} {{ ticket.student.middle_name }} {{ ticket.student.last_name }}</td>
                <td>{{ ticket.student.student_id }}</td>
                <td>{{ ticket.ticket_id }}</td>
                <td>
                    {% if ticket.uniform_violation %}Uniform Violation, {% endif %}
                    {% if ticket.dress_code_violation %}Dress Code Violation, {% endif %}
                    {% if ticket.id_violation %}ID Violation, {% endif %}
                    {% if ticket.id_not_claimed_violation %}ID Not Claimed Violation{% endif %}
                </td>
                <td>{{ ticket.date_created }}</td>
                <td class="status-{{ ticket.ticket_status|yesno:'resolved,pending' }}">
                    {{ ticket.ticket_status|yesno:'Resolved,Pending' }}
                </td>
                <td class="actions">
                    <a href="" class="btn btn-outline-primary btn-sm">View/Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No tickets found.</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="7">
                    <div class="pagination">
                        <ul>
                            {% if tickets.has_previous %}
                            <li><a href="{% url 'evs:ViolationTickets' %}?page={{ tickets.previous_page_number }}">&laquo;
                                    Previous</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo; Previous</span></li>
                            {% endif %}

                            {% for i in tickets.paginator.page_range %}
                            {% if tickets.number == i %}
                            <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                            <li><a href="{% url 'evs:ViolationTickets' %}?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if tickets.has_next %}
                            <li><a href="{% url 'evs:ViolationTickets' %}?page={{ tickets.next_page_number }}">Next
                                    &raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>Next &raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% endblock content %}